body {
    background: white;
    color: #323232;
    font-weight: 300;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Helvetica neue, roboto, serif;
    overflow: hidden;
}

img {
    width: 56px;
    height: 48px;
}

h1 {
    font-weight: 200;
    font-style: 26px;
    margin: 10px;
}

.container {
    position: relative;
}

#gameField {
    z-index: 1;
    position: absolute;
    top: 50vh;
    left: 10vw;
}

#Score {
    position: absolute;
    z-index: 1;
    font-size: 1.5rem;
    left: 35vh;
    width: 30vw;
}

/* Phone*/
@media only screen
and (max-device-width: 600px){
    #gameField {
        left: 35%;
    }
}

/* Desktop*/
@media screen and (min-width: 768px) {
    #Score {
        left: 50vh;
        font-size: 2rem;
    }
}

#cf {
    position: relative;
    height: 100vh;
    width: 100%;
}

#cf img {
    height: 100vh;
    width: auto;
}

@media screen and (max-width: 768px) {
    #cf img {
        width: 100%;
    }
}

.tile {
    z-index: 9;
    position: absolute;
    width: 8vh;
    height: 8vh;
}

.pos_x0_y0 {
    left: 0px;
    top: 0px;
}

.pos_x1_y0 {
    left: 75px;
    top: 0px;
}

.pos_x2_y0 {
    left: 150px;
    top: 0px;
}

.pos_x3_y0 {
    left: 225px;
    top: 0px;
}

.pos_x4_y0 {
    left: 300px;
    top: 0px;
}

.pos_x0_y1 {
    left: 0px;
    top: 75px;
}

.pos_x1_y1 {
    left: 75px;
    top: 75px;
}

.pos_x2_y1 {
    left: 150px;
    top: 75px;
}

.pos_x3_y1 {
    left: 225px;
    top: 75px;
}

.pos_x4_y1 {
    left: 300px;
    top: 75px;
}

.pos_x0_y2 {
    left: 0px;
    top: 150px;
}

.pos_x1_y2 {
    left: 75px;
    top: 150px;
}

.pos_x2_y2 {
    left: 150px;
    top: 150px;
}

.pos_x3_y2 {
    left: 225px;
    top: 150px;
}

.pos_x4_y2 {
    left: 300px;
    top: 150px;
}

.pos_x0_y3 {
    left: 0px;
    top: 225px;
}

.pos_x1_y3 {
    left: 75px;
    top: 225px;
}

.pos_x2_y3 {
    left: 150px;
    top: 225px;
}

.pos_x3_y3 {
    left: 225px;
    top: 225px;
}

.pos_x4_y3 {
    left: 300px;
    top: 225px;
}

.pos_x0_y4 {
    left: 0px;
    top: 300px;
}

.pos_x1_y4 {
    left: 75px;
    top: 300px;
}

.pos_x2_y4 {
    left: 150px;
    top: 300px;
}

.pos_x3_y4 {
    left: 225px;
    top: 300px;
}

.pos_x4_y4 {
    left: 300px;
    top: 300px;
}

@media only screen
and (max-device-width: 600px){
    .pos_x0_y0{left: 0vw; top: 0vw;}
    .pos_x1_y0{left: 15vw; top: 0vw;}
    .pos_x2_y0{left: 30vw; top: 0vw;}
    .pos_x3_y0{left: 45vw; top: 0vw;}
    .pos_x4_y0{left: 60vw; top: 0vw;}
    .pos_x0_y1{left: 0vw; top: 15vw;}
    .pos_x1_y1{left: 15vw; top: 15vw;}
    .pos_x2_y1{left: 30vw; top: 15vw;}
    .pos_x3_y1{left: 45vw; top: 15vw;}
    .pos_x4_y1{left: 60vw; top: 15vw;}
    .pos_x0_y2{left: 0vw; top: 30vw;}
    .pos_x1_y2{left: 15vw; top: 30vw;}
    .pos_x2_y2{left: 30vw; top: 30vw;}
    .pos_x3_y2{left: 45vw; top: 30vw;}
    .pos_x4_y2{left: 60vw; top: 30vw;}
    .pos_x0_y3{left: 0vw; top: 45vw;}
    .pos_x1_y3{left: 15vw; top: 45vw;}
    .pos_x2_y3{left: 30vw; top: 45vw;}
    .pos_x3_y3{left: 45vw; top: 45vw;}
    .pos_x4_y3{left: 60vw; top: 45vw;}
    .pos_x0_y4{left: 0vw; top: 60vw;}
    .pos_x1_y4{left: 15vw; top: 60vw;}
    .pos_x2_y4{left: 30vw; top: 60vw;}
    .pos_x3_y4{left: 45vw; top: 60vw;}
    .pos_x4_y4{left: 60vw; top: 60vw;}
}