body {
    background: white;
    color: #323232;
    font-weight: 300;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Helvetica neue, roboto;
    overflow: hidden;
}

img {
    width: 56px;
    height: 48px;
}

h1 {
    font-weight: 200;
    font-style: 26px;
    margin: 10px;
}

.container {
    position: relative;
}

#gameField {
    position: absolute;
    top: 50vh;
    left: 20vw;
}

#Score {
    position: absolute;
    z-index: 1;
    font-size: 1.5rem;
    left: 35vh;
    width: 30vw;
}

/* Desktop*/
@media screen and (min-width: 768px) {
    #gameField {
        left: 10rem;
    }

    #Score {
        left: 50vh;
        font-size: 2rem;
    }
}

#cf {
    position: relative;
    height: 100vh;
    width: 100%;
}

#cf img {
    height: 100vh;
    width: auto;
}

@media screen and (max-width: 768px) {
    #cf img {
        width: 100%;
    }
}

.tile {
    z-index: 9;
    position: absolute;
    width: 8vh;
    height: 8vh;
}

/* Классы позиций на доске */
@media screen and (max-width: 768px) {
    .pos_x0_y0 {
        left: 0;
        top: 0px;
    }

    .pos_x1_y0 {
        left: 40px;
        top: 0px;
    }

    .pos_x2_y0 {
        left: 80px;
        top: 0px;
    }

    .pos_x3_y0 {
        left: 120px;
        top: 0px;
    }

    .pos_x4_y0 {
        left: 160px;
        top: 0px;
    }

    .pos_x0_y1 {
        left: 0;
        top: 40px;
    }

    .pos_x1_y1 {
        left: 40px;
        top: 40px;
    }

    .pos_x2_y1 {
        left: 80px;
        top: 40px;
    }

    .pos_x3_y1 {
        left: 120px;
        top: 40px;
    }

    .pos_x4_y1 {
        left: 160px;
        top: 40px;
    }

    .pos_x0_y2 {
        left: 0;
        top: 80px;
    }

    .pos_x1_y2 {
        left: 40px;
        top: 80px;
    }

    .pos_x2_y2 {
        left: 80px;
        top: 80px;
    }

    .pos_x3_y2 {
        left: 120px;
        top: 80px;
    }

    .pos_x4_y2 {
        left: 160px;
        top: 80px;
    }

    .pos_x0_y3 {
        left: 0;
        top: 120px;
    }

    .pos_x1_y3 {
        left: 40px;
        top: 120px;
    }

    .pos_x2_y3 {
        left: 80px;
        top: 120px;
    }

    .pos_x3_y3 {
        left: 120px;
        top: 120px;
    }

    .pos_x4_y3 {
        left: 160px;
        top: 120px;
    }

    .pos_x0_y4 {
        left: 0;
        top: 160px;
    }

    .pos_x1_y4 {
        left: 40px;
        top: 160px;
    }

    .pos_x2_y4 {
        left: 80px;
        top: 160px;
    }

    .pos_x3_y4 {
        left: 120px;
        top: 160px;
    }

    .pos_x4_y4 {
        left: 160px;
        top: 160px;
    }
}

@media screen and (min-width: 769px) {
    .pos_x0_y0 {
        left: 0px;
        top: 0px;
    }

    .pos_x1_y0 {
        left: 75px;
        top: 0px;
    }

    .pos_x2_y0 {
        left: 150px;
        top: 0px;
    }

    .pos_x3_y0 {
        left: 225px;
        top: 0px;
    }

    .pos_x4_y0 {
        left: 300px;
        top: 0px;
    }

    .pos_x0_y1 {
        left: 0px;
        top: 75px;
    }

    .pos_x1_y1 {
        left: 75px;
        top: 75px;
    }

    .pos_x2_y1 {
        left: 150px;
        top: 75px;
    }

    .pos_x3_y1 {
        left: 225px;
        top: 75px;
    }

    .pos_x4_y1 {
        left: 300px;
        top: 75px;
    }

    .pos_x0_y2 {
        left: 0px;
        top: 150px;
    }

    .pos_x1_y2 {
        left: 75px;
        top: 150px;
    }

    .pos_x2_y2 {
        left: 150px;
        top: 150px;
    }

    .pos_x3_y2 {
        left: 225px;
        top: 150px;
    }

    .pos_x4_y2 {
        left: 300px;
        top: 150px;
    }

    .pos_x0_y3 {
        left: 0px;
        top: 225px;
    }

    .pos_x1_y3 {
        left: 75px;
        top: 225px;
    }

    .pos_x2_y3 {
        left: 150px;
        top: 225px;
    }

    .pos_x3_y3 {
        left: 225px;
        top: 225px;
    }

    .pos_x4_y3 {
        left: 300px;
        top: 225px;
    }

    .pos_x0_y4 {
        left: 0px;
        top: 300px;
    }

    .pos_x1_y4 {
        left: 75px;
        top: 300px;
    }

    .pos_x2_y4 {
        left: 150px;
        top: 300px;
    }

    .pos_x3_y4 {
        left: 225px;
        top: 300px;
    }

    .pos_x4_y4 {
        left: 300px;
        top: 300px;
    }
}