body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    position: relative;

    height: 95vh;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-image: url('./img/Harry.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    border: 2px solid black;
    border-radius: 20px 20px;
}

@media only screen and (hover: none) and (pointer: coarse) {
    body {
        font-size: 40px;
    }

    #container {
        height: 100vh;
        width: 100%;
    }
}

#header {
    width: 100%;
}

h1 {
    color: white;
    text-align: center;
    text-shadow: black 2px 2px;
}

#timer {
    position: absolute;
    left: 20px;
    top: 10px;

    color: black;
    font-size: 4em;
}

#score {
    position: absolute;
    right: 20px;
    top: 10px;

    color: white;
    font-size: 3em;
}


#gameField {
    position: absolute;
    top: 35vh;
    width: 20em;
    height: 20em;
}

.tile {
    position: absolute;
    width: 4em;
    height: 4em;
}

.tile:hover {
    transform: scale(0.9);
}

.rule:before {
    content: "";
    display: inline-block;

    height: 2em;

    margin-right: 10px;

    background-image: url(img/tiles/meat.svg);
    background-size: auto 100%;
}

.rule {
    display: flex;
    align-items: center;
}

#match3:before {
    width: 6em;
}

#match4:before {
    width: 8em;
}

#match5:before {
    width: 10em;
}

dialog {
    border-radius: 10px;
}

footer {
    margin-bottom: 10px;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

button {
    font-size: 1.5em;
}